@import 'bootstrap/scss/bootstrap';

@include media-breakpoint-up(md) {
  .kex-search-container {
    display: flex;
    margin-left: 24px;
    margin-right: 24px;
    height: 100%;

    kex-search-user-list {
      padding-right: 24px;
      margin-right: 24px;
      border-right: var(--frontend-container-border) 1px solid;
      flex: 1;
    }

    kex-search-user-profile {
      flex: 2;
    }
  }
}

@include media-breakpoint-down(md) {
  .kex-search-container {
    margin-left: 12px;
    margin-right: 12px;
  }
  kex-search-user-profile {
    display: none;
  }
}

