.kex-search-container {
  display: flex;
  margin-left: 12px;
  margin-right: 12px;
  height: 100%;

  kex-search-user-list {
    padding-right: 8px;
    margin-right: 8px;
    border-right: #9e9e9e 1px solid;
    flex: 1;
  }

  kex-search-user-profile {
    flex: 2;
  }
}
