@import 'bootstrap/scss/bootstrap';

:host{
  display: flex;
  justify-content: center;

  .kex-profile-container {
    min-width: 600px;
    @include media-breakpoint-down(md) {
      min-width: 100%;
      padding-left: 12px;
      padding-right: 12px;
    }
    @include media-breakpoint-up(lg) {
      min-width: 800px;
    }
  }

  ::ng-deep{
    .mat-mdc-tab-body-content {
      overflow: hidden !important;
    }
    .mat-mdc-tab-group {
      width: 100% !important;
    }
    .mat-mdc-tab-header {
      margin-bottom: 16px;
    }
  }
}


