@import 'bootstrap/scss/bootstrap';

:host{
  .kex-profile-container {
    max-width: 800px;
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  ::ng-deep{
    .mat-mdc-tab-body-content {
      overflow: hidden !important;
    }
  }
}

