<ng-container *ngIf="$skillsLoadState | async as loadState">
  <ng-container [ngSwitch]="loadState">
    <ng-container *ngSwitchCase="KexLoadState.FAILURE">ERROR</ng-container>
    <ng-container *ngSwitchCase="KexLoadState.SUCCESS">
      <ng-container *ngIf="$skills | async as skills">
        <div *ngIf="skills.length < 1">
          <p>Jetzt ersten Skill eintragen</p>
        </div>
        <div *ngIf="skills.length > 0">
          <kex-profile-skill *ngFor="let skill of skills" [skill]="skill"/>
          <div>
            <button mat-raised-button>Erklärung Level-System</button>
            <button mat-raised-button color="primary">Fähigkeit hinzufügen</button>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <mat-spinner></mat-spinner>
    </ng-container>
  </ng-container>
</ng-container>


