@import 'bootstrap/scss/bootstrap';

.kex-skill-container {
  display: flex;
  background-color: var(--frontend-container-background);
  border-radius: 4px;
  max-width: 800px;
}

.kex-skill-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.kex-skill-visible, .kex-skill-visible-off {
  border-radius: 4px 0 0 4px;
  display: flex;
  align-items: center;
  cursor: pointer;

  mat-icon {
    color: white;
  }
}

.kex-skill-visible {
  background: var(--frontend-primary);
}

.kex-skill-visible-off {
  background: #9e9e9e;
}

.kex-skill-button-container {
  display: flex;
  align-items: center;
}

.kex-skill-content-left {
  display: flex;
  flex-direction: column;
}


@include media-breakpoint-down(sm) {
  #kex-skill-button-container-desktop {
    display: none;
  }
  #kex-skill-button-container-mobile {
    gap: 8px;
  }
  .kex-skill-content {
    flex-direction: column;
  }
}


@include media-breakpoint-up(sm) {
  #kex-skill-button-container-mobile {
    display: none;
  }
}

