.kex-skill-container {
  display: flex;
  background-color: #eeeeee;
}

.kex-skill-content {
  display: flex;
}

.kex-skill-visible {
  display: flex;
  align-items: center;
}

.kex-skill-button-container {
  display: flex;
  align-items: center;
}
