.kex-experience-container {
  display: flex;
  background-color: var(--frontend-container-background);
  border-radius: 4px;
  max-width: 800px;
}

.kex-experience-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.kex-experience-visible, .kex-experience-visible-off {
  border-radius: 4px 0 0 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  mat-icon {
    color : white;
  }
}

.kex-experience-visible {
  background: var(--frontend-primary);
}

.kex-experience-visible-off {
  background : #9e9e9e;
}

.kex-experience-button-container {
  display: flex;
  align-items: center;
}

.kex-experience-content-left {
  display: flex;
  flex-direction: column;
}

.kex-chip-list {
  width: 100%;
}

.kex-chip-list .chips-container {
  display: flex;
  flex-wrap: nowrap; /* Verhindert das Umbruch der Chips */
  gap: 8px; /* Abstand zwischen den Chips */
  overflow-x: auto; /* Ermöglicht horizontales Scrollen, falls erforderlich */
}

.kex-chip-list mat-chip-row {
  display: inline-flex;
  align-items: center;
}
