.kex-search-user-container {
  display: flex;
  background-color: var(--frontend-container-background);
  border-radius: 4px;
  justify-content: space-between;
  cursor: pointer;
}

.kex-search-user-action {
  border-radius: 0 4px 4px 0;
  display: flex;
  align-items: center;
  background: var(--frontend-primary);
  mat-icon {
    color : white;
  }
}

