@import 'bootstrap/scss/bootstrap';

.kex-widgets-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
}

.kex-widgets-container kex-widget-contact-data {
  flex: 1;
  min-width: 100%;
  @include media-breakpoint-up(md) {
    min-width: 400px;
  }
}
