@import 'bootstrap/scss/bootstrap';

:host{


  .kex-profile-contact-data-container{
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  .kex-profile-contact-container {
    background:  #EEEEEE;
    border-radius: 4px;
    width: 48%;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  .kex-profile-contact-time-line{
    display: flex;
    justify-content: space-between;
  }

  .kex-profile-contact-time-container, .kex-profile-contact-options-container{
    flex: 1;
  }

  .kex-profile-contact-time-day {
    flex: 1;
  }

  .kex-profile-contact-time-time{
    flex: 2;
  }

}


