<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div>
    <h2>Text Entry</h2>
    <form (submit)="saveSkill()">
        <label for="textInput">Enter Skill:</label>
        <input type="text" id="textInput" name="textInput" [(ngModel)]="text">
        <label for="skillSelect">Select Skill:</label>
        <select id="skillSelect" name="skillSelect" [(ngModel)]="selectedSkill">
            <option *ngFor="let skill of skills" [value]="skill.id">{{ skill.skill }}</option>
        </select>
        <button type="submit">Save</button>
    </form>
</div>
<div>
    <h2>Add Skill</h2>
    <form (submit)="addSkill()">
        <label for="newSkill">New Skill:</label>
        <input type="text" id="newSkill" name="newSkill" [(ngModel)]="newSkill">
        <button type="submit">Add Skill</button>
    </form>
</div>










<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
